.card {
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	padding: 1.5rem;
	margin: 1rem 0;
	transition: box-shadow 0.2s;
	display: flex;
	flex-direction: row;
	/*align-items: center;*/
	ul {
		list-style: none;
		color: #222;
	}
}

.cardHeader {
	font-size: 1.25rem;
	font-weight: 600;
	margin-bottom: 0.75rem;
	color: #222;
}
